# Python Basics

# Fundamentals

In [2]:
def numbers():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1 
numbers()

1
2
3
4
5
6
7
8
9

In [5]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = '''  10*string can span multiple line '''
print(s)

This is a string
Another string using double quotes
  10*string can span multiple line

In [6]:
message = 'Hello, World!'
print(message)

message = 'Good Bye!'
print(message)

Hello, World!
Good Bye!

In [7]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

In [8]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [9]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

In [10]:
str = "Python String"
print(str[0]) # P
print(str[1]) # y

P
y

In [11]:
str = "Python String"
str_len = len(str)
print(str_len)

13

In [12]:
str = "Sauagj "
print(str[0:2])

Sa

In [14]:
str = "Python String"     #Immutablity in strings  
str[0] = 'J'

TypeError: 'str' object does not support item assignment

In [15]:
str = "Saurabh String"
new_str = 'J' + str[1:]
print(new_str)

Jaurabh String

In [16]:
20 / (10 + 10)

1.0

In [17]:
count = 10_000_000_000
print(count)

10000000000

In [20]:
print(bool(100))
print(bool(0))
print(bool('Hi'))
print(bool(''))

True
False
True
False

# Operators

In [21]:
left_value = 100
right_value = 500
left_value  < right_value

True

In [23]:
x = 10
y = 20
print(x <= y)
print(y <= x)

True
False

In [24]:
'apple' != 'apple'

False

In [25]:
'apple' != 'orange'

True

In [26]:
price = 15
price > 10 and price < 20

True

In [27]:
price > 10 or price < 20

True

In [28]:
not price > 10

False

In [29]:
not (price > 5 and price < 10)

True

# Control flow

In [30]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")

Enter your age:25
You're eligible to vote.

In [31]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
else:
    print("You're not eligible to vote.")

Enter your age:18
You're eligible to vote.

In [32]:
age = input('Enter your age:')
your_age = int(age)
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18
print(f"You'll pay ${ticket_price} for the ticket")

Enter your age:35
You'll pay $18 for the ticket

In [37]:
age = input("hey whats your age")
ticket_price = 20 if int(age) >= 18 else 5

hey whats your age1

In [38]:
print(ticket_price)

5

In [41]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [45]:
i = 5
while True:
    print(i)
    i+=1
    if i>10:
        break

5
6
7
8
9
10

In [46]:
for index in range(10):
    if index % 2:
        continue

    print(index)

0
2
4
6
8

In [50]:
#  print the odd numbers 
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

# Functions

In [51]:
def sum(a, b):
    return a + b


total = sum(10,20)
print(total)

30

In [52]:
def greet(name):
    return f"Hi {name}"

In [53]:
greet("saurabh")

'Hi saurabh'

In [56]:
def count_down(start):
    """ Count down from a number  """
    print(start)
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

In [57]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total


result = sum(100)
print(result)

5050

In [58]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0


result = sum(100)
print(result)

5050

In [60]:
def sum(n):
    return n + sum(n-1) if n > 0 else 0


result = sum(1000)
print(result)

500500

In [61]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

In [64]:
def times(n):
    return lambda x: x * n

result = double(2)
print(result)

4

In [65]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

# Lists

In [66]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [67]:
coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[[0, 0], [100, 100], [200, 200]]

In [68]:
numbers = [1, 3, 2, 7, 9, 4]

print(numbers[0])

1

In [69]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[-1])
print(numbers[-2])

4
9

In [70]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10

print(numbers)

[10, 3, 2, 7, 9, 4]

In [71]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[1] = numbers[1]*10

print(numbers)

[1, 30, 2, 7, 9, 4]

In [72]:
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]

print(numbers)

[3, 2, 7, 9, 4]

In [73]:
numbers = [1, 3, 2, 7, 9, 4]
last = numbers.pop()

print(last)
print(numbers)

4
[1, 3, 2, 7, 9]

In [74]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

In [75]:
numbers = [1, 2, 3, 4, 5]

squares = list(map(lambda number: number**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

# Dictionary

In [77]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 25,
 'favorite_colors': ['blue', 'green'],
 'active': True}

In [80]:
print(person['last_name'])
person['age'] = 26

Doe

In [81]:
person['age']

26

In [82]:
del person['active']

In [83]:
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green']}

In [84]:
for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 26
favorite_colors: ['blue', 'green']

# SETS

In [85]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [86]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Critical Thinking', 'Problem solving'}

In [87]:
characters = set('letter')
print(characters)

{'t', 'e', 'l', 'r'}

In [88]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

In [89]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')

The set contains 1

In [90]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Software design', 'Python programming', 'Problem solving'}

In [91]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

In [92]:
skills

{'Problem solving', 'Python programming', 'Software design'}

In [93]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Software design

# Exception handling

In [100]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2

def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'

In [101]:
def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print('Error! please enter a valid number.')
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')
main()

Enter your height (meters):5
Enter your weight (kilograms):5
Your body mass index is 0.2
This is considered underweight!

# More on Python Loops

In [102]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

# The first attempt
input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
attempt += 1

if input_number > secret_number:
    print('It should be smaller.')
elif input_number < secret_number:
    print('It should be bigger.')
else:
    print(f'Bingo! {attempt} attempt(s)')

# From the second attempt
while input_number != secret_number:

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
    attempt += 1

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')

Enter a number between 0 and 10:2
It should be smaller.
Enter a number between 0 and 10:2
It should be smaller.
Enter a number between 0 and 10:1
It should be smaller.
Enter a number between 0 and 10:2
It should be smaller.
Enter a number between 0 and 10:100
It should be smaller.
Enter a number between 0 and 10:3
It should be smaller.
Enter a number between 0 and 10:2
It should be smaller.
Enter a number between 0 and 10:1
It should be smaller.
Enter a number between 0 and 10:0
Bingo! 9 attempt(s)

# More on Python functions

In [104]:
def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

In [105]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

In [107]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

In [108]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)

20

In [109]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

In [110]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  # 20
print(result)

x = 3
result = f(10)  # 20
print(result)

20
20