# ASSIGNMENT PYTHON #NAME: SAURABH RAOKHANDE #SUBJECT:PATTERN RECOGNITION AND NEURAL NETWORKS(ECE-5831)

# Hello world

In [3]:
print("this line will be printed")

this line will be printed

In [4]:
x = "market"
if x == "market":
    print("Yes")
else:
    print("No")

Yes

In [5]:
print("Goodbye world")

Goodbye world

# Variables and Types

In [6]:
myint = 7
print(myint)

7

In [7]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [8]:
mystring = "hello"
print(mystring)
mystring = 'hello'
print(mystring)

hello
hello

In [9]:
mystring = "Don't worry about apostropies"
print(mystring)

Don't worry about apostropies

In [11]:
one = 1
two = 2
three = one+two
print(three)
hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [13]:
one = 1
two = 2
add = str(one) + str(two) + 'hello_saurabh'
print(add)

12hello_saurabh

In [17]:
mystring = "saurabh"
myfloat = 10.0
myint = 100
if mystring == "saurabh":
    print("string: %s" % mystring)
if isinstance(myfloat,float) and myfloat == 10.0:
    print("myfloat: %f" %myfloat)
if isinstance(myint,int) and myint==100:
    print("myint: %d" %myint)

string: saurabh
myfloat: 10.000000
myint: 100

# LIST

In [30]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(2)
print(my_list)
for i in my_list:
    print(i, end="")

[1, 2, 2]
122

In [31]:
my_lis = [1,2,3]
print(my_lis[10])

IndexError: list index out of range

In [32]:
number = [1]
string = ["s","a"]
name = ['john', 'eric', "jessica"]
second_name = name[1]
print(number)
print(string)
print(second_name)

[1]
['s', 'a']
eric

# Basic operators

In [35]:
number = 1+2*3/4.0
print(number)

2.5

In [36]:
remainder = 11%3
print(remainder)

2

In [49]:
squared = 2 ** 2
cube = 3**3
print("(squared,cube)-->",(squared,cube))

(squared,cube)--> (4, 27)

In [50]:
hello = "hello"
world = "world"
print(hello + " " + world)

hello world

In [1]:
lots_hello = 20*"hello"
print(lots_hello)

hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello

In [2]:
even_no = [2,4,6,8]
odd = [1,3,5,9]
add = even_no + odd
print(add)

[2, 4, 6, 8, 1, 3, 5, 9]

In [3]:
print([1,3,500]*3)

[1, 3, 500, 1, 3, 500, 1, 3, 500]

In [18]:
x = object()
y = object()

x_list = [x,x,x,x,x,x,x,x,x,x]
y_list = [y,y,y,y,y,y,y,y,y,y]
big_list = x_list+y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Yaaa")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there
Yaaa

# STRING FORMATTING

In [1]:
name = "saurabh"
print("hello %s!" %name)

hello saurabh!

In [2]:
name = "saurabh"
age = 26
print("%s is %d years old" %(name,age))

saurabh is 26 years old

In [3]:
my_list = [10,20,30]
print("mylist is %s" %my_list)

mylist is [10, 20, 30]

In [12]:
data = ("John", "Doe", 53.44)
format_string = "Hello"

print(" %s %s %s. your current balance is %d" %(format_string,data[0],data[1],data[2]))

 Hello John Doe. your current balance is 53

# Basic String Operations

In [13]:
astring1 = "Hello world!"
astring2 = 'Hello world!'

In [22]:
print(astring1.count('o'))
print(astring1.index('w'))
print(astring1[3:6])
print(astring1[3:7:2])
print(astring1[3:7:1])
print(astring1[::-1])
print(astring1.upper())
print(astring1.lower())
print(astring1.startswith("Hello"))
print(astring1.endswith("asdfasdfasdf"))

2
6
lo
l
lo w
!dlrow olleH
HELLO WORLD!
hello world!
True
False

In [24]:
s = "Hey there! my name is saurabh"
print("Length of s is %d" % len(s))
print("The first occurrence of the letter a = %d" % s.index("a"))
print("a occurs %d times" % s.count("a"))
print("The first five characters are '%s'" % s[:5]) 
print("The next five characters are '%s'" % s[5:10])
print("The fifteenth character is '%s'" % s[14]) 
print("The characters with odd index are '%s'" %s[1::2]) 
print("The last five characters are '%s'" % s[-5:])

Length of s is 29
The first occurrence of the letter a = 15
a occurs 3 times
The first five characters are 'Hey t'
The next five characters are 'here!'
The fifteenth character is 'n'
The characters with odd index are 'e hr!m aei arb'
The last five characters are 'urabh'

# Conditions

In [25]:
x = 2
print(x == 2) 
print(x == 3) 
print(x < 3)

True
False
True

In [27]:
name = "saurabh"
age = 26
if name == "saurabh" and age == 26:
    print("Your name is %s, and you are also %d years old."%(name,age))

if name == "saurabh" or name == "shubham":
    print("Your name is either saurabh or shubham.")

Your name is saurabh, and you are also 26 years old.
Your name is either saurabh or shubham.

In [28]:
if name in ['saurabh','rahul','shubham']:
    print("your name is in list")

your name is in list

In [29]:
statment = True
if statment is True:
    pass

In [31]:
x=[1,2,3,1,2]
y=[40,50,70,90]
print(x==y)
print(x is y)

False
False

In [32]:
print(not False)
print((not True) == (False))

True
True

In [33]:
number = 16
second_number = False
first_array = [1,55,66]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

# LOOPS

In [2]:
for x in range(1, 10):
    print(x, end=' ')

1 2 3 4 5 6 7 8 9

In [4]:
i = 10
while i>5:
    print("saurabh", end = ' ')
    i = i-1

saurabh saurabh saurabh saurabh saurabh

In [5]:
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [8]:
for i in range(1, 10):
    if(i%5==0): 
        print(i)
else:
    print("hi im in else")

5
hi im in else

In [16]:
numbers = [1,2,2,4,5,237,6]
for number in numbers:
    if number == 237:
        break

    if number % 2 == 0:
        print(number)

2
2
4

In [17]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

for number in numbers:
    if number == 237:
        break

    if number % 2 == 0:
        print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

# Functions

In [18]:
def saurabh_function():
    print("hello saurabh")
def myfunction_with_args(username,greeting):
    print("Hello, %s, From My Function!, I wish you %s"%(username, greeting))
def sum_numbers(a,b):
    print('sum-->',a+b)
saurabh_function()
myfunction_with_args('saurabh',"hoe are you")
sum_numbers(55,20)

hello saurabh
Hello, saurabh, From My Function!, I wish you hoe are you
sum--> 75

In [20]:
def list_benefits():
    return ["More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"]

def build_sentence(benefit):
    return benefit+" is a benefit of functions!"

def name_the_benefits_of_functions():
    list_of_benefits = list_benefits()
    for benefit in list_of_benefits:
        print(build_sentence(benefit))
name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!

# Classes and Objects

In [21]:
class Vehicle:
    def __init__(self, name="", kind="car", color="", value=100.00):
        self.name = name
        self.kind = kind
        self.color = color
        self.value = value

    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

class Car1(Vehicle):
    def __init__(self):
        super().__init__(name="Fer", kind="convertible", color="red", value=60000)

class Car2(Vehicle):
    def __init__(self):
        super().__init__(name="Jump", kind="van", color="blue", value=10000)

# test code
car1 = Car1()
car2 = Car2()

print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

# Dictionaries

In [22]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("John")
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [23]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [24]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

# Modules and Packages

In [2]:
from Vehicle.saurabh import Vehicle

my_vehicle = Vehicle("audi","adjustable","white",200000)
print(my_vehicle.description())

saurabh is a black motor worth $100000.00.

In [7]:
from drawing.draw import Draw

drawing = Draw(10,20)
print(drawing.drawing())

I am drawing
None

In [6]:
from gaming.game import Game

gaming = Game("saurabh","aniket")
gaming.played_players()

saurabh omkar

In [3]:
print("************End******************")

************End******************